<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate">
<stringAttribute key="DELEGATE" value="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchOperationDelegate"/>
<stringAttribute key="EXTRA_ARGUMENTS" value=""/>
<listAttribute key="FILES">
<listEntry value="anagram_test.hs"/>
</listAttribute>
<stringAttribute key="FIRST_SELECTED_RESOURCE" value="anagram_test.hs"/>
<stringAttribute key="PROJECT_NAME" value="anagram"/>
<booleanAttribute key="RELOAD" value="true"/>
<booleanAttribute key="SYNC_STREAMS" value="true"/>
<stringAttribute key="WORKING_DIRECTORY" value="/home/abotz/exercism/haskell/anagram"/>
</launchConfiguration>
